#login, #loggedin {
    display: none;
}
.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}
.progress-label {
    float: left;
    margin-right: 1em;
    font-size: 16px;
}